################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/System.Data/cdf/src/NetFx40/Tools/System.Activities.Core.Presentation/obj
